body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/page_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .container {
    max-width: 500px;
    margin: 100px auto;
  }
  
  .card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.726) !important;
    background: linear-gradient(to right, rgba(105, 105, 105, 0.349), rgba(255, 255, 255, 0.233)) !important;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-control {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    width: 100%;
  }
  
  th.text-center,
  td.text-center {
    text-align: center;
  }
  
  .d-flex.justify-content-center {
    justify-content: center;
  }

  h5.card-title {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #ffffff!important;
    font-weight: bold!important;
        text-shadow:
        -1px -1px 0 #0000009c,
        /* Top left */
        1px -1px 0 #0000009c,
        /* Top right */
        -1px 1px 0 #0000009c,
        /* Bottom left */
        1px 1px 0 #0000009c;
    /* Bottom right */
    text-align: center;
  }

  .table th {
    color: #000000 !important;
  }

  .table td {
    color: #ffffff !important;
  }
  